* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .charlie{
    line-height: 80px;
    font-size: 40px;
   color: white;
   padding: 0 100px;}
  nav {
    font-family: "Big Shoulders Display", cursive;
    background-color: pink;
    height: 90px;
    position: relative;
    border-bottom: 4px solid darkblue;
  }
  
 
  nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
  }
  nav ul {
    list-style: none;
    margin-right: 30px;
    float: right;
  }
  nav ul li a {
    text-decoration: rgb(26, 23, 23);
  }
  h2{
    margin-top: 10px;
    margin-left: 90px;
}
  body {
    font-family: "Lexend Deca", sans-serif;
  }
  form{
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 400px;
    background-color: pink;
    border-radius: 15px;
    padding-top: 30px;
  padding-bottom: 50px;
  }
  .name{
     margin-left: 200px;
    padding: 5px;
    border-radius: 5px;
  }
  .email{
    margin-left: 196px;
    margin-top: 10px;
  }
  .message{
  
    margin-left: 270px;
  }
  .send{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-left: 320px;
    background-color: pink;
    border-radius: 5px;
    border-color: pink;
  }
  input{
    border-radius: 5px;
    padding: 10px;
  }
  label{
    font-size: 15px;
  }
  
  footer {
    background-color: pink;
    text-align: center;
    border-bottom: 5px solid darkblue;
    border-top: 5px solid darkblue;
    margin-top: 10%;
    padding: 20px;
  }
 
      