* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
nav{
  font-family: "Big Shoulders Display", cursive;
    background-color: pink;
   height: 90px;
  position: relative;
   border-bottom: 4px solid darkblue;
}

.charlie{
  line-height: 80px;
 font-size: 40px;
color: white;
padding: 0 100px;
}
nav ul li{
    display:inline-block;
  margin:0 20px;
  line-height: 80px;
}
nav ul{
    list-style: none;
    margin-right: 30px;
    float: right;
}
nav ul li a{
    text-decoration:rgb(26, 23, 23);
}
h2{
    margin-top: 10px;
    margin-left: 90px;
}
body {
  font-family: "Lexend Deca", sans-serif;
  }
  form{
    margin-top: 100px;
    background-color: pink;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 500px;
    margin-left: 500px;
  }
  .password{
    margin-top: 20px;
    margin-left: 20px;
  }
  .ep{
   width:290px;
    border-radius: 5px;
    padding: 10px;
  }
  .pass{
    margin-left: 40px;
  }
  .email{
    margin-left: 73px;
  }
  .log{
    margin-top: 20px;
    margin-left: 230px;
  }
  .send{
    background-color: pink;
    border-color: pink;
  }
  

footer {
    background-color: pink; 
    text-align: center;
    border-bottom: 5px solid darkblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}
