.heading {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  display: flex;
  align-items: center;
    padding:auto;
background-color: pink;
width: 100%;
color: white;
border-bottom: 4px solid darkblue;
}
.links {
 text-align: right;
}
img {
width: 390px;
height:450px;
display: inline;
}
.design {
    font-family: sans-serif;
    display: flex;
   padding-left: 20%;
   padding-right: 20%;
  background-color: white;
  color: black;
  ;
}
footer {
    background-color: pink; 
    text-align: center;
    border-bottom: 5px solid darkblue;
}